#container{
    background-color: rgb(231, 146, 35);
    width:1140px;
    height: 1340px;
    margin-inline: auto;
    
}
#h1{
    text-align: center;
}
.numbers{
    width: 10%;
    height: 90px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 15px;
    text-align: center;
    line-height: 106px;
    position: relative;
    border-color: whitesmoke;
    margin-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
input {
    width: 190px;
    height: 10px;
    background-color: #f4f4f7;
    color: #1a1919;
    padding: 10px;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
    margin-left: 300px;
  }

  #button1{
    width: 100px;
    height: 30px;
    margin-left: 15px;
    display: inline-block;
    padding: 6px;
    border-radius: 3px;
    background-color: #c4b3b3;
    font-size: 15px;
    font-weight: bold;
  }

  #button2{
    width: 150px;
    height: 30px;
    margin-left: 300px;
    display: inline-block;
    padding: 6px;
    border-radius: 3px;
    background-color: #c4b3b3;
    font-size: 15px;
    font-weight: 700;
}

.highlight{
    background-color: aqua;
}